* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: Roboto;
}

nav{
background-color: black;
color: white;
text-align: center;
}

nav .row {
  align-items: center;
}

/* Barra */
nav a {
  text-decoration: none;
  color: white;
  list-style: none;
}

nav li{
  padding: 0 5px;
  list-style: none;
}


/* --------------------------------------------ARTICLES -----------------------------------------*/



/* FOOTER */

.footer{
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
}

.footer_titulos{
  font-weight: bold;
}

.footer_texto{
  font-style: oblique;
}