* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: Roboto;
}
/*------------------------------------------------ BARRA NAV ------------------------------------------- */
nav{
background-color: black;
color: white;
text-align: center;
height: auto;
}

nav .row {
  align-items: center;
  height: 100%;
}

nav a {
  text-decoration: none;
  color: white;
  list-style: none;
}
nav ul{
  display: flex;
}

nav li{
  padding: 0 5px;
  list-style: none;
}
/*------------------------------------------------/BARRA NAV ------------------------------------------- */


/* --------------------------------------------ARTICLES -----------------------------------------*/
.Art{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 5% 0 5%;
}
.Art:nth-child(even){   
background-color: aquamarine;
justify-content: end;
}
/* -------------------------------------------- /ARTICLES -----------------------------------------*/

.hero-content{
  background-color: rgb(107, 107, 145);
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*------------------------------------------------ ASIDE ANOTATE------------------------------------------- */
.aside_anotate{
height: 300px;
display: flex;
justify-content:center;
align-items: center;
text-align: center;
}

/*------------------------------------------------/ ASIDE ANOTATE------------------------------------------- */

/*------------------------------------------------ FOOTER------------------------------------------- */

.footer{
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
}

.footer_titulos{
  font-weight: bold;
}

.footer_texto{
  font-style: oblique;
}
/*------------------------------------------------ /FOOTER------------------------------------------- */