* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ajustar el modelo de caja a border-box (opcional) */
}


/* Barra */
nav a {
  text-decoration: none;
  color: white;
  list-style: none;
}

nav li{
  padding: 0 5px;
  list-style: none;
}

.Bar{
  justify-content: space-around;
}