<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../img/logofavicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3147ed9d57.js" crossorigin="anonymous"></script>
    <meta name="keywords" content="gimnasio,MardelPlata,Crossfit,Yoga,Spinning ">
    <meta name="description" content="Pagina realizada para proyecto final eligiendo un gimnasio local">
    <title>Anotate</title>
</head>
<body>
  <header>

    <!-- Barra de navegacion que uso en todas las vistas -->
    <nav class=" pt-2 container-fluid">
      <div class="row container-fluid">
        <a href="../../index.html" class="col-12 col-md-6"><img src="../img/icono.png" width="200px" alt="Logo SportClub"></a>
          <ul class="col-12 col-md-6 flex-md-row flex-column">
            <li>
              <a  href="../../index.html">Inicio</a>
            </li>
            <li>
              <a href="./actividades.html">Actividades</a>
            </li>
            <li>
              <a href="./nosotros.html">Nosotros</a>
            </li>
            <li>
              <a  href="./anotate.html">Anotate</a>
            </li>
          </ul>
      </div>
    </nav>
    <div class="titulos2">
      <h1 class="titulo">Anotate</h1> 
      <h5>No esperes al verano para ejercitarte!</h5> 
    </div>
    
</header>
<main class="d-flex container-fluid mb-5 ">
  <div class="container-fluid mb-5 row flex-lg-row flex-sm-column">
    <div class="col-lg-6 bg-danger form_imagen">
    </div>
    <div class="col-lg-6 formulario ">
      <p class="text-center form__title">Completá el formulario y nos pondremos en contacto</p>
      <form action="anotate.html" class="form-group"  method="POST">
        <label for="nombre">Nombre:</label>
        <input class="form-control" type="text" id="nombre" name="nombre" required>
        <label for="apellido">Apellido:</label>
        <input class="form-control" type="text" id="apellido" name="apellido" required>
        <label for="edad">Edad:</label>
        <input class="form-control" type="number" id="edad" name="edad" required>
        <label for="correo">Correo:</label>
        <input class="form-control" type="email" id="correo" name="correo" required>
        <label for="telefono">Teléfono:</label>
        <input class="form-control" type="tel" id="telefono" name="telefono" required>
        <label for="actividad">Actividad que te interesa:</label>
        <select id="actividad" name="actividad" required>
            <option value="Crossfit">Crossfit</option>
            <option value="Gym">Gym</option>
            <option value="yoga">Yoga</option>
            <option value="yoga">Spinning</option>
        </select>
        <label for="objetivo">Objetivo:</label>
        <textarea id="objetivo" class="form-control" name="objetivo" rows="4" cols="20" required></textarea>
        <br>
        <input class="btn btn-primary" type="submit" value="Enviar">
        <input class="btn btn-danger" type="reset" value="Restablecer">
    </form>
    </div>
</div>
</main>

<footer class="footer container-fluid text-center pt-2">
  <div class="row container-fluid pb-3">
    <div class="col-12  col-md-4">
      <p class="footer_titulos">Horarios</p>
      <p class="footer_texto">Lunes a viernes  7 a 21 </p>
      <p class="footer_texto">Sabados 7 a 13</p>
    </div>
      <div class="col-12 col-md-4">
        <hr class="d-md-none">
        <p class="footer_titulos">contacto</p>
        <p class="footer_texto">Telefono 493-3243</p>
        <p class="footer_texto">Mar del Plata</p>
        <p class="footer_texto">direccion</p>    
      </div>
    <div class="col-12 col-md-2 d-flex flex-column">
      <hr class="d-md-none">
      <p class="footer_titulos">Redes Sociales</p>
      <a href="https://www.facebook.com/">facebook </a><i class="fa-brands fa-facebook"></i>
      <a href="https://www.instagram.com/">Instagram </a><i class="fa-brands fa-instagram"></i>
      <a href="https://web.whatsapp.com/" >Whatsap </a><i class="fa-brands fa-whatsapp"></i>
    </div >
  </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>   
</body>
</html>