<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../img/logofavicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <meta name="keywords" content="gimnasio,MardelPlata,Crossfit,Yoga,Spinning ">
    <meta name="description" content="Pagina realizada para proyecto final eligiendo un gimnasio local">
    <title>Nosostros</title>
</head>
<body>
  <header>

    <!-- Barra de navegacion que uso en todas las vistas -->
    <nav class=" pt-2 container-fluid">
      <div class="row container-fluid">
        <a href="../../index.html" class="col-12 col-md-6"><img src="../img/icono.png" width="200px" alt="Logo SportClub"></a>
          <ul class="col-12 col-md-6   flex-md-row flex-column">
            <li>
              <a  href="../../index.html">Inicio</a>
            </li>
            <li>
              <a href="./actividades.html">Actividades</a>
            </li>
            <li>
              <a href="./nosotros.html">Nosotros</a>
            </li>
            <li>
              <a  href="./anotate.html">Anotate</a>
            </li>
          </ul>
      </div>
    </nav>
    <div class="titulos2">
      <h1 class="titulo">Nosotros</h1>  
      <h5 >Conoce nuestras instalaciones</h5>
    </div>

</header>

<section class="mt-5">
  <div class="galeria">
  <div class="contenedor"><img class="galery  animate__animated animate__fadeIn " src="../img/galeria/1.jpg" alt="imagen del gimnasio"></div>
  <div class="contenedor"><img class="galery" src="../img/galeria/9.jpeg" alt="imagen del gimnasio">   </div>
  <div class="contenedor">   <img class="galery" src="../img/galeria/2.jpg" alt="Imagen de kl gimnasio"></div>
  <div class="contenedor">   <img class="galery" src="../img/galeria/3.jpeg" alt="imagen de kl gimnasio"></div>
  <div class="contenedor">  <img class="galery" src="../img/galeria/4.jpeg" alt="imagen del gimnasio"></div>
  <div class="contenedor">  <img class="galery" src="../img/galeria/5.jpeg" alt="imagen del gimnasio"></div>
  <div class="contenedor">  <img class="galery" src="../img/galeria/6.jpeg" alt="imagen del gimnasio"></div>
  <div class="contenedor">  <img class="galery" src="../img/galeria/7.jpeg" alt="imagen del gimnasio"></div>
  <div class="contenedor">   <img class="galery" src="../img/galeria/8.jpeg" alt="imagen del gimnasio"></div>
  <div class="contenedor">  <img class="galery" src="../img/galeria/13.jpeg" alt="imagen del gimnasio"></div>
  <div class="contenedor">  <img class="galery" src="../img/galeria/10.jpeg" alt="imagen del gimnasio"></div>
  <div class="contenedor">  <img class="galery" src="../img/galeria/11.jpeg" alt="imagen del gimnasio"></div>
  </div>
</section> 

    <footer class="footer container-fluid text-center pt-2">
      <div class="row container-fluid">
        <div class="col-12  col-md-4">
          <p class="footer_titulos">Horarios</p>
          <p class="footer_texto">Lunes a viernes  7 a 21 </p>
          <p class="footer_texto">Sabados 7 a 13</p>
        </div>
          <div class="col-12 col-md-4">
            <p class="footer_titulos">contacto</p>
            <p class="footer_texto">Telefono 493-3243</p>
            <p class="footer_texto">Mar del Plata</p>
            <p class="footer_texto">direccion</p>    
          </div>
        <div class="col-12 col-md-4">
          <p class="footer_titulos">Redes Sociales</p>
          <a href="">facebook</a>
          <a href="">Instagram </a>
        </div >
      </div>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>   

</body>
</html>