* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: Roboto;
  background-color: rgb(red, green, blue);
}
body{
  background: rgb(186,185,195);
background: linear-gradient(0deg, rgba(186,185,195,0.4234068627450981) 0%, rgba(171,171,175,0.3393732492997199) 87%);
}
/*------------------------------------------------ BARRA NAV ------------------------------------------- */
nav{
background-color: black;
color: white;
text-align: center;
height: auto;
}

nav .row {
  align-items: center;
  height: 100%;
}

nav a {
  text-decoration: none;
  color: white;
  list-style: none;
}
nav ul{
  display: flex;
}

nav li{
  padding: 0 5px;
  list-style: none;
}
/*------------------------------------------------/BARRA NAV ------------------------------------------- */


/* --------------------------------------------ARTICLES -----------------------------------------*/
.Art{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 5% 0 5%;
}
.Art:nth-child(even){   
background-color: aquamarine;
justify-content: end;
}
/* -------------------------------------------- /ARTICLES -----------------------------------------*/

.hero-content{
  background-color: rgb(107, 107, 145);
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*------------------------------------------------ ASIDE ANOTATE------------------------------------------- */
.aside_anotate{
height: 300px;
display: flex;
justify-content:center;
align-items: center;
text-align: center;
}

/*------------------------------------------------/ ASIDE ANOTATE------------------------------------------- */


/*------------------------------------------------ ACTIVIDADES------------------------------------------- */
.Act{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 5% 0 5%;
}
.Act:nth-child(even){   
justify-content: end;
}


.crossfit{
background-image: url('../img/pexels-binyamin-mellish-17840.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
color: white;
height:350px;
}
.spinning{
  background-image: url('../img/spinning.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height:350px;
}
.yoga{
  background-image: url('../img/pexels-elina-fairytale-3822141.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height:350px;
}
.gym{
  background-image: url('../img/hombre-incognito-construyendo-biceps-barra.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height:350px;
}


/*------------------------------------------------ /ACTIVIDADES------------------------------------------- */

/*------------------------------------------------ FOOTER------------------------------------------- */

.footer{
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
}

.footer  a{
color: white;
text-decoration: none;
}
.footer  a span{
  color: green;
  text-decoration: none;
  }

.footer_titulos{
  font-weight: bold;
}

.footer_texto{
  font-style: oblique;
}


/*------------------------------------------------ /FOOTER------------------------------------------- */